<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
    <!--Location for Index binary file-->
    <add key="BinaryFileLocation" value="D:\\Indexer_DataFiles\"/>
  
    <!--Location for TreeViewControl state binary file--> 
    <add key="TreeviewStateFileLocation" value="D:\\Indexer_DataFiles\"/>
  
    <!--Error Log Location-->
    <add key="LogFileLocation" value="D:\\Indexer_DataFiles\"/>
  
    <add key="SearchDataXmlFileLocation" value="D:\\Indexer_DataFiles\"/>

  <!--NotePad++ Install Location-->
    <add key="NotepadPlusInstallLocation" value="C:\\Program Files\\Notepad++"/>
  
  <!--Black List items-->
    <add key="BlackListItems" value="is,a,the,of,this,how,all,ago,I,me,he,he’ll,he’s,she,she’ll,she’s,am,in,so,is,be,let,mr,mrs,we,us,you,oh,ok,ex"/>
    
  <!--To remove characters from text files while indexing..Provide characters separated by pipe symbol(|)-->
    <add key="InvalidCharactersToRemove" value=".|;"/>
</appSettings>
</configuration>